{
   "plugins": ["@typescript-eslint", "@babel"],
   "parser": "@babel/eslint-parser",
   "extends": [
      "eslint:recommended", 
      "plugin:@typescript-eslint/recommended"
   ],
   "rules": {
      "curly": "error",
      "dot-notation": "error",
      "eqeqeq": "error",
      "no-else-return":"error",
      "no-extra-bind": "error",
      "no-extra-label": "error",
      "no-implicit-coercion": "error",
      "@typescript-eslint/explicit-member-acicessibility": "error",
      "@babel/new-cap": "error",
      "@babel/no-invalid-this": "error",
      "@babel/no-unused-expressions": "error",
      "@babel/object-curly-spacing": "error",
      "@babel/semi": "error"
   }
}
