{
   "plugins": ["@typescript-eslint"],
   "extends": [
      "eslint:recommended", 
      "plugin:@typescript-eslint/recommended",
      "airbnb-base"
   ],
   "rules": {
      "curly": "error",
      "dot-notation": "error",
      "eqeqeq": "error",
      "no-else-return":"error",
      "no-extra-bind": "error",
      "no-extra-label": "error",
      "no-implicit-coercion": "error",
      "@typescript-eslint/explicit-member-acicessibility": "error",
      "generator-star-spacing": "error",
      "array-bracket-spacing": "error",
      "object-shorthand": "error",
      "arrow-parens": "error",
      "no-await-in-loop": "error",
      "comma-dangle": "error",
      "no-mixed-operators": [ "error"]
   }
}
